* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


footer{
  background: #180546;
}
footer ul{
  display: flex;
  justify-content: space-around;
}

footer ul a{
  color: aliceblue;
}

section{
  margin-top: 100px;
  background-color: blue;

}

button{
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: crimson;
  justify-content: center;
}

button:active{
  transform: scale("1.05");
  opacity: 0.3;
}
